<% provide(:title, "Profile") %>

<% if signed_in? %>
	<div id="profile-container">
	<div id="profile-header">
		<%= image_tag('globe.png') %><br /><br />
		
        <span class="profile-name"><%= current_user.name.upcase %></span><br />
		<span class="profile-home">
			<% if @profile.home? %>
			<%= @profile.home.upcase %>
			<% end %>
		</span>
	</div>
	
	<div id="favorite-list">
			<span class="profile-fav">TOP 10 CITIES</span>
		
		<ul id="favorites" data-update-url="<%= sort_favorites_path %>">
	
			<% @favorites.each do |favorite| %>
				<%= content_tag_for :li, favorite do %>
					<%= favorite.name %>, <%= favorite.country %> <%= favorite.position %>
					<%= link_to "", favorite, method: :delete, class: "remove-btn", remote: true %>
				<% end %>
			<% end %>

		</ul><br />
	</div>
	
        <%= link_to "Sign Out", signout_path, method: :delete, class: "btn", remote: true%>
	</div>
<% else %>

<%= render :partial => '/sessions/signin' %>
<% end %>