<style>
  html{
    background: #aaa;
  }
</style>

<!-- HINT ON FIRST VIEW -->

<div id="hint"></div>

<!-- PROFILE SLIDE IN LEFT -->

<div id="profile" style="display: none">
  <div id='profile-content'>
	<%= render 'profiles/profile' %>
  </div>
</div>



<!-- MASONRY INFINTE SCROLL CONTENT -->
<div id="content" style="display: none">
	

  <div id="home">
	
	
	
    <%= image_tag 'atlas.png' %>
    
    <h2 style="visibility: visible">VISUAL PLACES</h2>
    
    <%= form_tag city_index_path, :method => 'get', :class => 'big-search' do %>
      <%= text_field_tag :search, params[:search], :title => "Enter City or Spin", :class => 'jq_watermark'  %>
      <%= submit_tag "SPIN", :name => nil  %>
    <% end %>
	
	<div id="home-globe"><%= image_tag('globe-lg.png')%></div>
    
  </div><!-- /home -->
  
</div><!-- /content -->



<!-- FOOTER -->
<div id="footer-home">
  
  <span class='btn-wrap' id='profile-click'>
    <div class='footer-btn' id='profile-btn'></div>
  </span>
  
</div>



<script>
  $.watermarker.setDefaults({left: -3});
  
  var profileVisible = false;
  
  var height = $(window).height()
  var width = $(window).width()

  $('#profile-click').click( function(){
    if (profileVisible){
      $('#profile').hide('slide', {direction: "left"}, 400 );
      profileVisible = false;
    } else {
      $('#profile').show('slide', {direction: "left"}, 400 );
      profileVisible = true;
    }
    
  });
  
  /////// LOAD WHEN DOCUMENT READY /////////////
  $(document).ready( function(){
  
    //main page autocomplete
    $('#search').autocomplete({
      source: "/search_suggestions",
      delay: 100,
      minLength: 2,
    })
	

	if (document.cookie.indexOf('visited=true') == -1) {
	        var oneDay = 1000*60*60*24*1;
	        var expires = new Date((new Date()).valueOf() + oneDay);
	        document.cookie = "visited=true;expires=" + expires.toUTCString();
	       	$('#hint').hide()
			$('#hint').delay(1000).fadeIn(900)
	    }
    
    
    $('#content').delay(300).fadeIn(1000);
    
    
    setTimeout( function(){
      $('#search').focus();
    }, 600)
    
    $('#again').focus( function(){
      $(this).animate({
          'border-top': '2px solid #aaa',
          'width': '320px',
      }, 10)
    })
    
      
  })//// document ready ////
  
</script>
