<style>
  html{
    background: #aaa;
  }
</style>

<!-- PROFILE SLIDE IN LEFT -->

<%= render 'profiles/profile' %>


<!-- MASONRY INFINITE SCROLL CONTENT -->
<div id="content">

  <div id="home">
    <%= image_tag 'atlas.png' %>
    
    <h2 style="visibility: visible">VISUAL PLACES</h2>
    
    <%= form_tag city_index_path, :method => 'get', :class => 'big-search' do %>
      <%= text_field_tag :search, params[:search], :title => "Enter City or Spin", :class =>  'jq_watermark'  %>
      <%= submit_tag "SPIN", :name => nil  %>
    <% end %>

    
  </div><!-- /home -->
  
</div><!-- /content -->



<!-- FOOTER -->
<div id="footer-home">
  
  <span class='btn-wrap'>
    <div class='footer-btn' id='profile-btn'></div>
  </span>


  
</div>


<%= javascript_include_tag 'city.js' %>



