<style>
  html{
    background: #aaa;
  }
</style>

<!-- PROFILE SLIDE IN LEFT -->
<div id="profile" style="display: none">
  <div id='profile-content'>
  
  	<% if signed_in? %>
            <p>Hey, <%= current_user.name %></p>
            <%= link_to "Sign Out", signout_path, method: "delete" %>
	<% else %>
            <%= render :partial => '/sessions/signin' %>
	<% end %>
	
  </div>
</div>



<!-- MASONRY INFINTE SCROLL CONTENT -->
<div id="content" style="display: none">

  <div id="home">
    <%= image_tag 'atlas.png' %>
    
    <h2 style="visibility: visible">VISUAL PLACES</h2>
    
    <%= form_tag city_index_path, :method => 'get', :class => 'big-search' do %>
      <%= text_field_tag :search, params[:search], :title => "Enter City or Spin", :class => 'jq_watermark'  %>
      <%= submit_tag "SPIN", :name => nil  %>
    <% end %>

    
  </div><!-- /home -->
  
</div><!-- /content -->



<!-- FOOTER -->
<div id="footer-home">
  
  <span class='btn-wrap'>
    <div class='footer-btn' id='profile-btn'></div>
  </span>


  
</div>


<%= javascript_include_tag 'city.js' %>



