<!-- PROFILE SLIDE IN LEFT -->
<div id="profile" style="display: none">
  
  <h2>Hello User</h2>
</div>


<!-- MASONRY INFINTE SCROLL CONTENT -->
<div id="content">

  <table>
    <% @city.each do |city| %>
      <tr>
        <td><%= city.name %>,</td>
        <td><%= city.country %></td>
      </tr>
    <% end %>
  </table>
  
</div>


<!-- FOOTER -->
<div id="footer-main">
  
  <span class='btn-wrap' id='profile-click'>
    <div class='footer-btn' id='profile-btn'></div>
  </span>
  <span class='btn-wrap'>
    <div class='footer-btn' id='save-btn'></div>
  </span>
  
  <div id="search-wrap">
    
    <%= form_tag city_index_path, :method => 'get', :class => 'footer-search' do %>
      <%= text_field_tag :search, params[:search], :id => 'again', :title => "Enter City or Spin", :class => 'jq_watermark'  %>
      <%= submit_tag "SPIN", :name => nil  %>
    <% end %>
    
    
  </div>
  
  <div id="logo">
    <%= image_tag 'logo.png' %>
  </div>
  
</div>

<%= javascript_include_tag 'atlas.js' %>