<h1>You searched:</h1>

<table>
<% @city.each do |city| %>
  <tr>
    <td><%= city.name %>,</td>
    <td><%= city.country %></td>
  </tr>
<% end %>
</table>


<% if signed_in? %>

<div class="profile-container">
	<div class="profile-user">		
		<% if @profile.image %>
			<%= image_tag @profile.image_url(:web) %>
		<% else %>
			<%= image_tag('user-blank.png')%>
		<% end %>
		
		<%= @user.name %>
		
		<%= @profile.home %>
	</div>
	
	<div class="profile-citylist">
		<ul>
			<% for city in user.cities %>
				<% if city.position == 1 %>
					<li class="profile-city-1">
					<%= city.name %>
					</li>
				<% else %>
					<li class="profile-city-all">
					<%= city.name %>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>

<% else %>

Not signed in.

<% end %>
=======

<!-- PROFILE SLIDE IN LEFT -->
<div id="profile" style="display: none">
  
  <h2>Hello User</h2>
</div>


<!-- MASONRY INFINTE SCROLL CONTENT -->
<div id="content">

  <table>
    <% @city.each do |city| %>
      <tr>
        <td><%= city.name %>,</td>
        <td><%= city.country %></td>
      </tr>
    <% end %>
  </table>
  
</div>


<!-- FOOTER -->
<div id="footer-main">
  
  <span class='btn-wrap'>
    <div class='footer-btn' id='profile-btn'></div>
  </span>
  <span class='btn-wrap'>
    <div class='footer-btn' id='save-btn'></div>
  </span>
  
  <div id="search-wrap">
    <form>
      <input class="footer-search" id="footer-search" type="text" value="Enter City or Spin">
      <input class="footer-search" id="footer-search-btn" value="O" type="submit">
    </form>
  </div>
  
  <div id="logo">
    <%= image_tag 'logo.png' %>
  </div>
  
</div>

<%= javascript_include_tag 'city.js' %>