<!-- PROFILE SLIDE IN LEFT -->

<%= render 'profiles/profile' %>


<!-- MASONRY INFINITE SCROLL CONTENT -->
<div id="content">

  <table>
    <% @city.each do |city| %>
      <tr>
		<div id="city-id"><%= city.id %></div>
        <td><%= city.name %>,</td>
        <td><%= city.country %></td>
      </tr>
	
		<div >
			

    <% end %>
  </table>
  
</div>



<!-- FOOTER -->
<div id="footer-main">
  
  <span class='btn-wrap'>
    <div class='footer-btn' id='profile-btn'></div>
  </span>
	<% @city.each do |city| %>
  	<% if signed_in? %>
	<%= form_for @favorite, remote: true do |f| %>
		<%= f.hidden_field :city_id, :value => city.id %>
		<%= f.hidden_field :name, :value => city.name %>
		<%= f.hidden_field :country, :value => city.country %>
		<span class='btn-wrap btn-absolute' id="save-btn">
		  <%= f.submit 'O', class: "click-area" %>
		</span>
	<% end %>
	<% end %>
	<% end %>
  
  <div id="search-wrap">
    <form>
      <input class="footer-search" id="footer-search" type="text" value="Enter City or Spin">
      <input class="footer-search" id="footer-search-btn" value="O" type="submit">
    </form>
  </div>
  
  <div id="logo">
	<%= link_to :root do %>
    <%= image_tag 'logo.png' %>
	<% end %>
  </div>
  
</div>

<%= javascript_include_tag 'city.js' %>